<%= form_tag sessions_path do %>  
  <p>  
    <%= label_tag :name %><br />  
    <%= text_field_tag :name, params[:name] %>  
  </p>  
  <p>  
    <%= label_tag :password %><br />  
    <%= password_field_tag :password %>  
  </p>  
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <p>  
    <%= label_tag :remember_me %><br />  
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>  
  </p>
  <p class="button"><%= submit_tag("login") %></p>  
<% end %>  

<p>
If you forget <strong>Name</strong>, have a look at our <%= link_to "users", users_path %> list
</p>

<p>
if you forget <strong>password</strong>, drop me a email at 

happypeter1983@gmail.com, 

and let me know your <strong>Name</strong> and Email address, I will reset password for you.
</p>
