<br />
<%= form_tag password_resets_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>


<p>
If you forget your <strong>Email</strong>, have a look at our <%= link_to "users", users_path %> list, click on your name and find it out
</p>
