<h2>My Name:</h2>
<%= @user.name %>

<h2>My Email:</h2>
<%= @user.email %>
 
<h2>My Posts:</h2>
<% if @user.posts.any? %>  

  <% @posts=Post.where(:user_id => @user.id) %> 
  <% @posts.each do |post| %>
  <%= post.id%>
  <%= link_to post.title, post_path(post)%>
   
  <br \>
  <%end%>
<% else %>
<p> You have no post </p>

<% end %>
  
<h2>My Comments:</h2>

<% @comments=Comment.where(:user_id => @user.id) %> 
<% if @comments.any? %>  
  <% @comments.each do |comment| %>
  NO.<%= comment.id%>:
  <%= comment.body%>
  <br \>
  <br \>
<% end %>
<% else %>
<p> You have no comment </p>
<% end %>

