<h1 style="text-align:center">
  <%= @user.name %>
</h1>
 
<p>
  <%= @user.email %>
</p>
 
<% if @user.posts.any? %>  

  <h2>My Posts:</h2>
  <% @posts=Post.where(:user_id => @user.id) %> 
  <% @posts.each do |post| %>
  <%= post.id%>
  <%= link_to post.title, post_path(post)%>
   
  <br \>
  <%end%>

<% end %>
  
<h2>My Comments:</h2>

<% @comments=Comment.where(:user_id => @user.id) %> 
  <% @comments.each do |comment| %>
  NO.<%= comment.id%>:
  <%= comment.body%>
  <br \>
  <br \>
<% end %>

<%= link_to 'Back to Posts', posts_path %> |
