<% title "#{@user.name}'s Profile" %>
<p>
<table border=0>
<tr><td valign=top>Name:</td><td><%= @user.name %></td></tr>
<tr><td valign=top>Email:</td><td><%= @user.email %></td></tr>
</table>
</p>
<% if @user != nil && current_user != nil %>
  <!-- the below line produces error, if above condition does not meet -->
  <% if @user.id == current_user.id %>
    <span class="comhead">
      <%= link_to "Edit", edit_user_path(@user)%>
    </span>
  <% end %>
<% end %>

<h2>Submissions:</h2>

<% if @user.posts.any? %>  
  <% @posts=Post.where(:user_id => @user.id) %> 
  <%= render 'posts/posthead' %>
<% else %>
  <p> no submission </p>
<% end %>
  
<h2>Comments:</h2>

<% @comments=Comment.where(:user_id => @user.id) %> 
<% if @comments.any? %>  
  <% @comments.each do |comment| %>
<table>
<tr>
<td>
  <div>
    <div id="comment_head">
      <span class="comhead">

		<% if comment.points.nil? %>
			0 point
		<%elsif comment.points == 1%>
	   	    1 point
		<%else%>
		    <%=comment.points%> points 
  	    <%end%>

        by yourself, <%= time_ago_in_words comment.created_at %> ago,
        <% @post=Post.find(comment.post_id) %>
        on: <%= link_to @post.title, post_path(@post)%>
      </span>
      <br \>
    </div>
    <div id="comment_body">
      <%= markdown(comment.body)%>
    </div>
      <br \>
  </div>
</td>
</tr>
</table>
  <% end %>
<% else %>
  <p> no comment </p>
<% end %>

