<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <% if current_user %>  
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.error :base %>
  <%= f.button :submit %>
  <% else %>  
     <p>
       <%= link_to "Log in", log_in_path(:return_to => request.url) %> to submit
     </p>
  <% end %>  
<% end %>
