
  <% @posts.each do |post| %>
  <br />
    <div id="post_head">
      <%= post.id %>. <%= link_to post.title, post%>

      <% @user = User.find(post.user_id )%>
      <span class="comhead">
      <br \>
      (
		<% if post.points.nil? %>
			0 point
		<%elsif post.points == 1%>
  	    1 point
		<%else%>
		    <%=post.points%> points 
	    <%end%>
      by <%= link_to  @user.name, user_path(@user) %> 
      | <%= post.comments.count %> comments,  
		<%= time_ago_in_words post.created_at %> ago
      <% if current_user && current_user.id == post.user.id  %>
        <%= link_to 'Edit', edit_post_path(post) %>
      <% end %>
      )
      </span>
    </div>
  <% end %>


