  <% @posts.reverse.each do |post| %>
  <br />
    <div id="post_head">
      <%= post.id %>. <%= link_to post.title, post%>
      <% @user = User.find(post.user_id )%>
      <span class="comhead">
      <br \>
      (
      by <%= link_to  @user.name, user_path(@user) %> <%= post.created_at %>
      <% if current_user && current_user.id == post.user.id  %>
        <%= link_to 'Edit', edit_post_path(post) %>|
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      )
      </span>
    </div>
  <% end %>


