
  <% @posts.each do |post| %>
  <br />
    <div id="post_head">
      <%= post.id %>. 
<% if session[:posts_voted]&&session[:posts_voted].include?(post.id.to_s)%>
    <img src="http://ycombinator.com/images/s.gif" height=1 width=14>
<% else %>    
    <a id=<%=post.id.to_s %> onclick="return vote(this)" href=<%="/post_vote?id="+post.id.to_s %>><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a>
<%end%>


<%= link_to post.title, post%>

      <% @user = User.find(post.user_id )%>
      <span class="comhead">
      <br \>
      (
      by <%= link_to  @user.name, user_path(@user) %> 
      | <%= post.comments.count %> comments,  
      <%= post.created_at %>
      <% if current_user && current_user.id == post.user.id  %>
        <%= link_to 'Edit', edit_post_path(post) %>|
        <%= link_to 'Delete', post, :confirm => 'Delete post! are you sure?', :method => :delete %>
      <% end %>
      )
      </span>
    </div>
  <% end %>


