<% content_for :title, "All" %>
 <%= form_tag posts_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :size => 35 %>
        <%= submit_tag "Search Episodes", :name => nil %>
 <% end %>

<% if @posts != nil %>


  <%= render 'posthead' %>
  <p>
  <%= will_paginate :previous_label => h("< Previous Page"),  :next_label => h("Next Page >") %>
  </p>
<% else %>
  No post found
<% end %>

