<h1 style="text-align:center">NEW</h1>

<% if @posts != nil %>
  <% @posts.each do |post| %>
  <br />
    <div id="card">
      NO.<%= post.id %>:<%= link_to post.title, post%>
      <% @user = User.where(:id => post.user_id ).first %>
      (<i><%= @user.name %></i>)
      <% if current_user && current_user.id == post.user.id  %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
  <% end %>

<% else %>
  No post found
  <br \>
  <%= link_to 'Back to Posts', posts_path %> 
<% end %>
</table>

 <%= link_to 'Post Your own card', new_post_path %>
