<h1 style="text-align:center">NEW</h1>

<table>
<% if @posts != nil %>
  <% @posts.each do |post| %>
    <tr>
      <td>Card <%= post.id %>:<%= link_to post.title, post%></td>
      <% @user = User.where(:id => post.user_id ).first %>
      <td> <%= @user.name %></td>
      <% if current_user && current_user.id == post.user.id  %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  <br />

<% else %>
  No post found
  <br \>
  <%= link_to 'Back to Posts', posts_path %> 
<% end %>
</table>

<%= link_to 'Post Your own card', new_post_path %>
