<p class="notice"><%= notice %></p>
 
<h1 style="text-align:center">
  <%= @post.title %>
</h1>
 
<p>
  <%= @post.content %>
</p>
 
<% if @post.comments.any? %>  

  <h2>Comments</h2>
  <%= render :partial => "comments/comment",
             :collection => @post.comments %>
   

<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
<br />
 
<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |
