<!-- the code is same as post#index, need to DRY up, but don't know @post -> @posts -->
<!-- since _posthead reads from @posts -->

<table>
<tr>
	<td valign="top">
		<center>
			<% if session[:posts_voted]&&session[:posts_voted].include?(@post.id.to_s)%>
	    	<img src="http://ycombinator.com/images/s.gif" height=1 width=14>
			<% else %>    
	    	<a id=<%=@post.id.to_s %> onclick="return vote(this)" href=<%="/post_vote?id="+@post.id.to_s %>><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a>
			<%end%>
		</center>
	</td>
	<td>
		<div>
		  	<div id="post_head">
    			<% @user = User.find(@post.user_id )%>
				<%=@post.title%> 
				<br />
    			<span class="comhead">

    				(
    				by <%= link_to  @user.name, user_path(@user) %> <%= @post.created_at %>
    				<% if current_user && current_user.id == @post.user.id  %>
      					<%= link_to 'Edit', edit_post_path(@post) %>
    				<% end %>
    				)
    			</span>
  			</div>
 
  			<div id="post_body">
    			<%= markdown(@post.content) %>
  			</div>
		</div>

		<%= render "comments/form" %>
		Use Markdown for formatting. See <%= link_to "examples", markdown_path %>.
		<br /> 
		<br /> 
	</td>
</tr>
</table>
<% if @post.comments.any? %>  
    <%= nested_comments @post.comments.arrange(:order => :created_at) %>
<% end %>
