<!-- the code is same as post#index, need to DRY up, but don't know @post -> @posts -->
<!-- since _posthead reads from @posts -->
<div>
  <div id="post_head">
    <%= @post.id %>. <%= link_to @post.title, @post%>
    <% @user = User.find(@post.user_id )%>
    <span class="comhead">
    <br \>
    (
    by <%= link_to  @user.name, user_path(@user) %> <%= @post.created_at %>
    <% if current_user && current_user.id == @post.user.id  %>
      <%= link_to 'Edit', edit_post_path(@post) %>|
      <%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    )
    </span>
  </div>
 
  <div id="post_body">
    <%= Maruku.new("##peter").to_html %>
    <%= @post.content %>
  </div>
</div>
 
<% if @post.comments.any? %>  

  <h2>Comments</h2>
  <%= render :partial => "comments/comment",
             :collection => @post.comments.reverse %>
   

<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
