<% title "About" %>

<div id="about">
  <div class="peter">
    <%= image_tag "peter.jpg", :size => "80x90" %>
    Peter 
  </div>
  <h2>Happypeter.org</h2>
  <p>is aiming at providing Unix learning materials for beginners. We encourage people to LearnProgrammingWithEnglish. College students are especially welcomed to join us, and start to LearnByDoing and avoid exam-oriented learning.</p>

  <h2>Contact</h2>
Hi, I am <%= link_to "happypeter", "http://happypeter.github.com/resume.html" %>, here is my Email:
<p>happypeter1983@gmail.com </p>


  <h2>This Site</h2>
  <p>This site is available in <%= link_to "open source", "https://github.com/happypeter/auth-love" %>. It is intended to be used as an example Rails app, so feel free to copy bits of it for your own project. If you would like to use it as a starting point for your own site please contact me.</p>

  <h2>Special Thanks</h2>
  <p> I copied a lot of design, and code as well from <%= link_to "Hacker News","http://news.ycombinator.com/" %> and <%= link_to "railscasts", "http://www.railscasts.com" %>. </p>

  <h2>License</h2>
  <p>All submissions are under the <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons license</a>.</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/us/88x31.png" /></a></p>
</div>
