<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>AuthLove</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


<div  id="user_nav" align="right">  
  <% if current_user %>  
    <% @user= User.find(current_user.id) %>
    <b> <%= link_to current_user.name, user_path(@user) %> </b> |
    <%= link_to "Log out", log_out_path %>  
  <% else %>  
    <%= link_to "Sign up", sign_up_path %> |   
    <%= link_to "Log in", log_in_path %>  
  <% end %>  
  <% flash.each do |name, msg| %>  
     <%= content_tag :div, msg, :id => "flash#{name}" %>  
  <% end %>  
</div>  
   

<%= yield %>

</body>
</html>
